[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:assimp/assimp.git
[submodule "external/cpp-peglib"]
	path = external/cpp-peglib
	url = git@github.com:yhirose/cpp-peglib.git
